body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 40px auto;
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.profile-intro {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.profile-intro .button {
    display: inline-block;
    margin-right: 15px;
}

.profile-intro img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 30px;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.intro-text h1, .intro-text h2 {
    color: #0077b5;
    text-align: left;
    margin: 0;
}

.intro-text p {
    margin-top: 15px;
    text-align: justify;
    padding-right: 10px; /* Réduit la marge à droite */
    padding-left: 10px; /* Ajoute un peu de marge à gauche pour l'équilibre */
}

.section {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.section.contact {
    border-bottom: none;
}

.two-columns {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.left-column {
    flex: 0.4;
    text-align: center;
}

.left-column img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.right-column {
    flex: 1; /* Réduit la taille de la colonne à 1/4 de l'espace */
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px; /* Ajout de padding pour mieux espacer le contenu */
    background-color: #f9f9f9; /* Ajout d'un fond pour bien délimiter le bloc */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /* Ajout d'un petit écart en haut pour le bloc */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    text-align: justify;
}

ul li::before {
    content: none;
}

ul li i {
    margin-right: 10px;
    color: #0077b5;
}

ul.etudes li ul {
    list-style: none;
    padding-left: 20px;
    margin-top: 5px;
}

ul.etudes li ul li {
    margin-bottom: 5px;
    text-align: justify;
    padding-left: 10px;
}

ul.etudes li ul li::before {
    margin-right: 5px;
}

ul.etudes li i.fas.fa-graduation-cap {
    margin-bottom: 15px;
}

ul.experiences li, ul.etudes li {
    background-color: #f9f9f9; /* Fond clair pour les éléments */
    border-radius: 8px; /* Bords arrondis */
    padding: 10px; /* Espacement interne pour mieux aérer */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajout d'une légère ombre */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Effet de transition pour les hover */
}

ul.experiences li:hover, ul.etudes li:hover {
    background-color: #e8f0fe; /* Changement de couleur au survol */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Ombre plus marquée */
}

.contact a {
    color: #0077b5;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: #005a87;
    text-decoration: underline;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.footer {
    text-align: center;
    margin-top: 30px;
    padding: 15px 0;
    border-top: 1px solid #eee;
    font-size: 16px;
    color: #777;
}

.button {
    background-color: #0077b5;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #005a87;
}

.competences-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 15px;
}

.competence-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.competence-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}


.competence-logo {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}
.competence-item:hover {
    transform: translateY(-10px); /* Légère élévation */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15); /* Ombre plus marquée */
    background-color: #f4f7fc; /* Couleur de fond légèrement plus claire */
}

.competence-item:hover img {
    transform: scale(1.1); /* Légère augmentation de la taille de l'icône */
    filter: brightness(1.2); /* Augmente la luminosité de l'icône */
}

.competence-item:hover .competence-tooltip {
    display: block; /* Affiche le tooltip lors du survol */
}
.competence-tooltip {
    display: none;
    position: absolute;
    top: 100%;  /* Placer le tooltip sous l'élément */
    left: 50%;
    transform: translateX(-50%);  /* Centrer horizontalement */
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    font-size: 0.9em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;  /* Espacement entre l'icône et le tooltip */
}

.contact i {
    margin-right: 8px;
    color: #0077b5;
}

#projets {
    padding: 40px 0;
  }
  
  .projets-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    gap: 20px;
    
  }

  .projet {
    text-align: justify;
    background-color: #ffffff;  /* Fond blanc pour chaque projet */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #3498db; /* Bordure bleue à gauche */
    transition: all 0.3s ease; /* Transition douce lors du survol */
    justify-self: center; /* Centre l'élément horizontalement */

  }
  
  .projet:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Ombre plus forte lors du survol */
    transform: translateY(-5px); /* Effet de décalage lors du survol */
  }
  
  .projet h3 {
    font-size: 1.5rem;
    color: #2c3e50;  /* Couleur du titre du projet */
    margin-bottom: 10px;
  }
  
  .projet p {
    font-size: 1rem;
    color: #7f8c8d;  /* Couleur du texte */
    line-height: 1.6;
  }
  
  .projet-details ul.etapes-projet {
    padding-left: 50px;
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .projet-details ul.etapes-projet li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #7f8c8d;  /* Couleur du texte des étapes */
  }
  
  .projet-details ul.etapes-projet li:before {
    color: #007bff;
    font-size: 1.3em;
    vertical-align: middle;
    margin-right: 10px; /* Espace entre l'icône et le texte */
  }


@media (max-width: 768px) {
  .projets-container {
    grid-template-columns: 1fr; /* Sur les petits écrans, on passe à une seule colonne */
  }
}


.social-logo {
    width: 16px;  /* Taille similaire aux icônes FontAwesome */
    height: 16px;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }
    
    .two-columns {
        flex-direction: column;
        gap: 0;
    }

    .left-column, .right-column {
        flex: 1;
        text-align: left;
    }

    .competences-grid {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }

    .footer {
        font-size: 14px;
    }
}
